<a href="https://colab.research.google.com/github/nishah8/dataandpython/blob/main/Copy_of_Air_quality_mini_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clean and wrangle air quality data

The following data file contains data collected at a roadside monitoring station.  You can see the data in a spreadsheet here: https://docs.google.com/spreadsheets/d/1XpAvrpuyMsKDO76EZ3kxuddBOu7cZX1Od4uEts14zco/edit?usp=sharing

The data contains:
* a heading line (Chatham Roadside) which needs to be skipped
* dates which are sometimes left- and sometimes right-justified indicating that they are not formatted as dates, rather they are text (so need to be converted to dates)
* times which are not all in the same format
* Nitrogen Dioxide levels which are, again, text and sometimes contain nodata
* Status which is always the same

### Project - clean, sort and wrangle the data

Read the dataset into a dataframe, skipping the first row   
Convert dates to date format  
Remove rows with nodata in the Nitrogen dioxide column  
Convert the Nitrogen dioxide levels values to float type  
Sort by Nitrogen dioxide level  
Create a new column for 'Weekdays' (use df['Date'].dt.weekday)  
Rename the column Nitrogen dioxide level to NO2 Level (V ug/m2)  
Remove the Status column  

The dataset can be viewed here:  https://drive.google.com/file/d/1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ/view?usp=sharing  and the data accessed here: https://drive.google.com/uc?id=1SOe9b4VJ1FCtDVgZ2T8d00-jTw2Kux1i  This is a .csv file  

**NOTE:** Some useful references are included at the bottom of this spreadsheet.

Use the code cell below to work your code.

In [7]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np

air_data=pd.read_csv("https://drive.google.com/uc?id=1SOe9b4VJ1FCtDVgZ2T8d00-jTw2Kux1i",skiprows=1)
air_data.info()
print()

def cleaningdata(data):
  cleaned_data=data[data['Nitrogen dioxide'] != 'nodata']
  sorted_cleaned_data=cleaned_data.sort_values(by=["Nitrogen dioxide"])
  sorted_cleaned_data['Nitrogen dioxide'] =pd.to_numeric(sorted_cleaned_data['Nitrogen dioxide'], errors='coerce')
  sorted_cleaned_data['Date']= pd.to_datetime(sorted_cleaned_data['Date'], format='%d/%m/%Y')
  sorted_cleaned_data['Weekdays']=sorted_cleaned_data['Date'].dt.weekday
  sorted_cleaned_data.rename(columns={"Nitrogen dioxide": "NO2 Level (V ug/m2)"},inplace=True)
  sorted_cleaned_data.drop("Status",axis=1,inplace=True)
  sorted_cleaned_data = sorted_cleaned_data.reset_index(drop=True)
  return sorted_cleaned_data

data1 = cleaningdata(air_data)
print(data1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              8784 non-null   object
 1   Time              8784 non-null   object
 2   Nitrogen dioxide  8784 non-null   object
 3   Status            8784 non-null   object
dtypes: object(4)
memory usage: 274.6+ KB

           Date   Time  NO2 Level (V ug/m2)  Weekdays
0    2020-12-27   5:00              0.42410         6
1    2020-08-26   1:00              0.58689         2
2    2020-07-06   2:00              0.58930         0
3    2020-08-26   3:00              0.59123         2
4    2020-12-27   6:00              0.65300         6
...         ...    ...                  ...       ...
8627 2020-01-29   3:00              9.99194         2
8628 2020-04-17   3:00              9.99557         4
8629 2020-12-10  12:00              9.99864         3
8630 2020-09-27  20:00              9.99883         6
8631 2020-09-15  18:00             92.13063         1

[8632 rows x 4 columns]

### Expand the dataset and show summary statistics for larger dataset
---

There is a second data set here covering the year 2021:  https://drive.google.com/uc?id=1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ  

Concatenate the two datasets to expand it to 2020 and 2021.  

Before you can concatenate the datasets you will need to clean and wrangle the second dataset in the same way as the first.  Use the code cell below.  Give the second dataset a different name.

After the datasets have been concatenated, group the data by Weekdays and show summary statistics by day of the week.

In [8]:
latest_data=pd.read_csv("https://drive.google.com/uc?id=1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ",skiprows=1)
latest_data.info()

data2 = cleaningdata(latest_data)
print(data2)
print()

finaldata = pd.concat([data1, data2])
print(finaldata)
print()

weekday_summary = finaldata.groupby('Weekdays')["NO2 Level (V ug/m2)"].describe()
print(weekday_summary)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              8760 non-null   object
 1   Time              8760 non-null   object
 2   Nitrogen dioxide  8760 non-null   object
 3   Status            8760 non-null   object
dtypes: object(4)
memory usage: 273.9+ KB
           Date   Time  NO2 Level (V ug/m2)  Weekdays
0    2021-10-24  03:00             -0.09610         6
1    2021-11-30  24:00             -0.10519         1
2    2021-12-30  04:00             -0.13101         3
3    2021-10-20  03:00             -0.26249         2
4    2021-10-27  03:00             -0.28544         2
...         ...    ...                  ...       ...
8675 2021-05-07  03:00              9.98456         4
8676 2021-01-28  23:00              9.98543         3
8677 2021-10-16  01:00              9.98708         5
8678 2021-05-04  24:00              9.99376         1
8679 2021-12-07  01:00              9.99664         1

[8680 rows x 4 columns]

           Date   Time  NO2 Level (V ug/m2)  Weekdays
0    2020-12-27   5:00              0.42410         6
1    2020-08-26   1:00              0.58689         2
2    2020-07-06   2:00              0.58930         0
3    2020-08-26   3:00              0.59123         2
4    2020-12-27   6:00              0.65300         6
...         ...    ...                  ...       ...
8675 2021-05-07  03:00              9.98456         4
8676 2021-01-28  23:00              9.98543         3
8677 2021-10-16  01:00              9.98708         5
8678 2021-05-04  24:00              9.99376         1
8679 2021-12-07  01:00              9.99664         1

[17312 rows x 4 columns]

           count       mean        std      min        25%       50%  \
Weekdays
0         2452.0  19.019897  13.566948  0.58930   8.944637  15.91839
1         2434.0  19.862832  13.623132 -0.10519   9.677307  16.66992
2         2485.0  21.569402  13.843067 -0.77743  10.894910  18.47115
3         2483.0  19.822405  12.873919 -0.13101  10.190015  16.82392
4         2500.0  20.776520  13.236096  0.03299  10.690697  18.00050
5         2494.0  15.905960  10.595521  0.75690   8.021902  13.60438
6         2464.0  13.160879   8.851133 -0.41740   6.782293  11.11951

                75%        max
Weekdays
0         26.016740  113.06189
1         27.045835   92.13063
2         30.186290   84.55297
3         26.306000   72.00084
4         28.146380   76.72297
5         20.842495   74.93681
6         16.998405   58.31275

### Helpful references
---
Skipping rows when reading datasets:  
https://www.geeksforgeeks.org/how-to-skip-rows-while-reading-csv-file-using-pandas/  

Converting strings to dates:  
https://www.geeksforgeeks.org/convert-the-column-type-from-string-to-datetime-format-in-pandas-dataframe/

Dropping rows where data has a given value:  
https://www.datasciencemadesimple.com/drop-delete-rows-conditions-python-pandas/  
(see section Drop a row or observation by condition)

Convert a column of strings to a column of floats:
https://datatofish.com/convert-string-to-float-dataframe/  

Create a new column from data converted in an existing column:  
https://www.geeksforgeeks.org/create-a-new-column-in-pandas-dataframe-based-on-the-existing-columns/  

Rename a column:  
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html  

Remove a column by name:  
https://www.kite.com/python/answers/how-to-delete-columns-from-a-pandas-%60dataframe%60-by-column-name-in-python#:~:text=Use%20the%20del%20keyword%20to,the%20name%20column_name%20from%20DataFrame%20.