<a href="https://colab.research.google.com/github/nishah8/dataandpython/blob/main/Copy_of_Data_Investigation_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data investigation project
---

Use what you have learnt so far about reading data files and displaying rows, columns, unique values, etc, to investigate and produce some printed information from this data set: https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/nishah8/dataandpython/main/Data%20Sets/housing_in_london_yearly_variables.csv"
df = pd.read_csv(url)

count = 0
for i in df['area'].unique():
  print (i)
  count+=1
print ()
print ('There are',count,'unique areas in the infolist')
print()

for x in df['date'].unique():
  print(x)

print()

df.head(1)

f_d = df[['area','date','mean_salary', 'median_salary']]
filtered_data = f_d.loc[f_d['area'] == 'harrow']
print(filtered_data)

city of london
barking and dagenham
barnet
bexley
brent
bromley
camden
croydon
ealing
enfield
greenwich
hackney
hammersmith and fulham
haringey
harrow
havering
hillingdon
hounslow
islington
kensington and chelsea
kingston upon thames
lambeth
lewisham
merton
newham
redbridge
richmond upon thames
southwark
sutton
tower hamlets
waltham forest
wandsworth
westminster
north east
north west
yorkshire and the humber
east midlands
west midlands
east
london
south east
south west
inner london
outer london
england
united kingdom
great britain
england and wales
northern ireland
scotland
wales

There are 51 unique areas in the infolist

1999-12-01
2000-12-01
2001-12-01
2002-12-01
2003-12-01
2004-12-01
2005-12-01
2006-12-01
2007-12-01
2008-12-01
2009-12-01
2010-12-01
2011-12-01
2012-12-01
2013-12-01
2014-12-01
2015-12-01
2016-12-01
2017-12-01
2018-12-01
2019-12-01

        area        date mean_salary  median_salary
14    harrow  1999-12-01       22824        20596.0
65    harrow  2000-12-01       24973        22238.0
116   harrow  2001-12-01       26650        22960.0
167   harrow  2002-12-01       26303        23176.0
218   harrow  2003-12-01       27980        22796.0
269   harrow  2004-12-01       29745        24750.0
320   harrow  2005-12-01       30339        26162.0
371   harrow  2006-12-01       30342        25575.0
422   harrow  2007-12-01       31063        26107.0
473   harrow  2008-12-01       31746        27627.0
524   harrow  2009-12-01       31352        27532.0
575   harrow  2010-12-01       32746        27921.0
626   harrow  2011-12-01       32342        27540.0
677   harrow  2012-12-01       31817        26738.0
728   harrow  2013-12-01       31504        25784.0
779   harrow  2014-12-01       29957        26037.0
830   harrow  2015-12-01       31404        26770.0
881   harrow  2016-12-01       34743        30134.0
932   harrow  2017-12-01       39293        31255.0
983   harrow  2018-12-01       35325        30553.0
1034  harrow  2019-12-01       37172        32809.0